@charset "UTF-8";
@font-face {
  font-family: 'carolina_mountains_personalRg';
  src: url("../fonts/carolina_mountains_personal_use-webfont.woff2") format("woff2"), url("../fonts/carolina_mountains_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes stretchText {
  0% {
    letter-spacing: 0rem;
    opacity: 0; }
  100% {
    letter-spacing: 0.6rem;
    opacity: 1; } }

@keyframes showDropdown {
  0% {
    opacity: 0;
    height: 0;
    background: transparent; }
  50% {
    height: 50%;
    opacity: 0.8; }
  100% {
    height: 100%;
    opacity: 1;
    background: inherit; } }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: "Ledger", serif;
  color: #5f5964; }

body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  font-family: "carolina_mountains_personalRg";
  color: #5f5964;
  text-align: center;
  margin-top: 70px; }

h2 {
  font-family: "Ledger", serif;
  text-transform: uppercase;
  text-align: center;
  color: #5f5964;
  margin: 20px; }

.nowrap {
  white-space: nowrap; }

.container {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  align-items: stretch;
  min-height: 100%; }
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: flex-start; } }
  @media only screen and (min-width: 769px) {
    .container {
      width: 100%; } }
  @media only screen and (min-width: 1280px) {
    .container {
      width: 1170px;
      flex-direction: row;
      justify-content: center; } }

main {
  box-sizing: border-box;
  position: relative;
  padding: 40px;
  background-size: cover;
  background-position: left center;
  z-index: 1;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    main {
      padding: 10px;
      padding-bottom: 80px;
      width: 100%; } }
  @media only screen and (min-width: 769px) {
    main {
      animation-name: fadeIn;
      animation-duration: 1s; } }
  main p {
    width: 80%;
    text-align: center;
    margin: 5px auto;
    animation-name: fadeIn;
    animation-duration: 1s; }
    @media only screen and (max-width: 768px) {
      main p {
        width: 100%; } }
  main .main__cover {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; }

.sidepage {
  background-image: url("../img/background-sub.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main__aboutus {
  width: 90%;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .main__aboutus {
      text-align: center;
      width: 100%; } }
  .main__aboutus img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #5f5964;
    margin: 50px 20px;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */ }
    @media only screen and (min-width: 769px) and (max-width: 1023px) {
      .main__aboutus img {
        margin: 10px 20px; } }
    @media only screen and (max-width: 768px) {
      .main__aboutus img {
        float: inherit;
        max-width: 250px;
        height: auto;
        margin: 30px auto 20px; } }
  .main__aboutus div {
    height: auto;
    overflow: auto; }
    @media only screen and (min-width: 769px) and (max-width: 1023px) {
      .main__aboutus div {
        overflow: inherit; } }
    @media only screen and (max-width: 768px) {
      .main__aboutus div {
        width: 100%; } }
    .main__aboutus div h3 {
      font-variant: small-caps;
      text-align: left;
      margin: 60px auto 10px; }
      @media only screen and (max-width: 768px) {
        .main__aboutus div h3 {
          text-align: center;
          margin: 0; } }
    .main__aboutus div p {
      text-align: left;
      width: 90%; }
      @media only screen and (max-width: 768px) {
        .main__aboutus div p {
          text-align: center; } }
    .main__aboutus div .caption {
      font-size: 11pt;
      padding-bottom: 5px; }

.main__repertoire {
  width: 90%;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .main__repertoire {
      width: 100%; } }
  .main__repertoire ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
  .main__repertoire li {
    padding-left: 1em;
    padding-top: 1em;
    text-indent: -1em;
    animation-name: fadeIn;
    animation-duration: 1s; }
    .main__repertoire li:before {
      content: "♪";
      padding-right: 7px; }

.mainpage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -120px;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .mainpage {
      margin-top: 0;
      flex: 1;
      z-index: -1; } }
  .mainpage h1 {
    color: #ffffff;
    font-size: 72pt;
    text-shadow: 0px 0px 2px #2a262d, 0 0 2em #2a262d, 0 0 0.2em #2a262d;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s; }
    @media only screen and (max-width: 545px) {
      .mainpage h1 {
        font-size: 42pt; } }
  .mainpage h2 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: #ffffff;
    font-size: 12pt;
    text-align: center;
    text-shadow: 1px 1px 2px #2a262d;
    margin-top: -10px; }
    @media only screen and (min-width: 769px) {
      .mainpage h2 {
        animation-name: stretchText;
        animation-duration: 2s; } }
    @media only screen and (max-width: 545px) {
      .mainpage h2 {
        font-size: 11pt; } }
    .mainpage h2::before, .mainpage h2::after {
      content: " - "; }
      @media only screen and (max-width: 545px) {
        .mainpage h2::before, .mainpage h2::after {
          content: none; } }

aside {
  box-sizing: border-box;
  background-color: rgba(217, 218, 233, 0.87); }
  @media only screen and (max-width: 768px) {
    aside {
      width: 100%; } }
  @media only screen and (min-width: 769px) {
    aside {
      width: 25%;
      padding: 20px;
      display: flex;
      flex-direction: column; } }
  @media only screen and (min-width: 1280px) {
    aside {
      width: 33%;
      display: flex;
      flex-direction: column; } }

nav h1:hover {
  color: #a593e0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

@media only screen and (min-width: 769px) {
  nav h1 {
    font-size: 2.1rem; } }

@media only screen and (min-width: 1280px) {
  nav h1 {
    font-size: 32pt; } }

nav a:hover {
  text-decoration: none; }

nav ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16pt;
  padding: 0;
  border-bottom: 1px solid #5f5964;
  margin: 30px auto; }
  nav ul li {
    margin: 20px 0 0 0;
    font-family: "Ledger", serif;
    border-top: 1px solid #5f5964;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    color: #5f5964; }
    nav ul li:hover, nav ul li:focus {
      color: #a593e0;
      text-decoration: underline;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
  @media only screen and (min-width: 1280px) {
    nav ul {
      width: 60%; } }

a {
  text-decoration: none; }
  a:hover, a:focus {
    color: #a593e0;
    text-decoration: underline; }

.active {
  text-decoration: underline;
  color: #5f5964; }

.icons {
  align-self: flex-end;
  display: flex;
  justify-content: center; }
  .icons div {
    padding: 10px; }
  .icons #facebook-icon {
    width: 64px;
    height: 64px;
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-position: center; }
    .icons #facebook-icon:hover {
      background-image: url("../img/facebook-hover.png"); }
  .icons #youtube-icon {
    width: 64px;
    height: 64px;
    background-image: url("../img/youtube.png");
    background-repeat: no-repeat;
    background-position: center; }
    .icons #youtube-icon:hover {
      background-image: url("../img/youtube-hover.png"); }

form {
  text-align: center; }

#contact {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column; }

label {
  padding: 5px; }

textarea {
  height: 200px; }

input, textarea {
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: solid 1px #a593e0; }
  input:hover, textarea:hover {
    background-color: #F5F5F5;
    -webkit-transition: background-color 1s;
    transition: background-color 0.5s, border 0.5s;
    border: solid 1px #5f5964; }

#submit-form {
  padding: 10px;
  width: 30%;
  margin-top: 20px;
  background-color: #5f5964;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px; }
  #submit-form:hover {
    background-color: #a593e0;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }

@media only screen and (max-width: 768px) {
  .head {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .head h1 {
      font-size: 26pt;
      margin: 0; } }

@media only screen and (max-width: 768px) {
  .dropdown {
    display: none;
    animation-name: showDropdown;
    animation-duration: 1.5s; }
    .dropdown ul {
      margin: 0 auto; } }

.navbar-toggle {
  border: 0;
  background: none; }
  .navbar-toggle div {
    width: 35px;
    height: 5px;
    background-color: #5f5964;
    margin: 6px 0; }
  .navbar-toggle:hover div {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #a593e0; }
  @media only screen and (min-width: 769px) {
    .navbar-toggle {
      display: none; } }

.youtube-player {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px; }

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent; }

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all; }

.youtube-player img:hover {
  -webkit-filter: brightness(75%); }

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer; }

.movie {
  margin: 0 auto;
  text-align: center;
  max-width: 550px; }

.thumbnails {
  display: flex;
  justify-content: center; }
  .thumbnails div {
    flex: 1;
    padding-bottom: 18%; }
  .thumbnails .play {
    display: none; }
