@font-face {
  font-family: 'carolina_mountains_personalRg';
  src: url("../fonts/carolina_mountains_personal_use-webfont.woff2") format("woff2"), url("../fonts/carolina_mountains_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body, h1, h2 {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: "Ledger", serif;
  color: #5f5964; }

body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  font-family: "carolina_mountains_personalRg";
  color: #5f5964;
  text-align: center;
  margin-top: 70px; }

h2 {
  font-family: "Ledger", serif;
  text-transform: uppercase;
  text-align: center;
  color: #5f5964;
  margin: 20px; }

.nowrap {
  white-space: nowrap; }

.container {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  align-items: stretch;
  min-height: 100%; }
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column; } }
  @media only screen and (min-width: 769px) {
    .container {
      width: 100%; } }
  @media only screen and (min-width: 1280px) {
    .container {
      width: 1170px;
      flex-direction: row;
      justify-content: center; } }

main {
  box-sizing: border-box;
  position: relative;
  padding: 40px;
  background-size: cover;
  background-position: left center;
  z-index: 1;
  width: 100%; }
  main p {
    width: 80%;
    text-align: center;
    margin: 5px auto; }
  main .main__cover {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; }

.sidepage {
  background-image: url("../img/background-sub.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main__aboutus {
  width: 90%;
  margin: 0 auto; }
  .main__aboutus img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #5f5964;
    margin: 50px 20px;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */ }
  .main__aboutus div {
    height: auto;
    overflow: auto; }
    .main__aboutus div h3 {
      font-variant: small-caps;
      text-align: left;
      margin: 50px auto 10px; }
    .main__aboutus div p {
      text-align: left;
      width: 90%; }
    .main__aboutus div .caption {
      font-size: 11pt;
      padding-bottom: 5px; }

.mainpage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -120px;
  width: 100%; }
  .mainpage h1 {
    color: #ffffff;
    font-size: 72pt;
    text-shadow: 0px 0px 2px #2a262d, 0 0 2em #2a262d, 0 0 0.2em #2a262d;
    text-align: center; }
  .mainpage h2 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: #ffffff;
    font-size: 12pt;
    text-align: center;
    text-shadow: 1px 1px 2px #2a262d;
    margin-top: -10px; }
    .mainpage h2::before, .mainpage h2::after {
      content: " - "; }

aside {
  box-sizing: border-box;
  background-color: rgba(217, 218, 233, 0.87); }
  @media only screen and (max-width: 768px) {
    aside {
      width: 100%; } }
  @media only screen and (min-width: 769px) {
    aside {
      width: 25%;
      padding: 20px;
      display: flex;
      flex-direction: column; } }
  @media only screen and (min-width: 1280px) {
    aside {
      width: 33%;
      display: flex;
      flex-direction: column; } }

nav h1:hover {
  color: #a593e0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

@media only screen and (min-width: 769px) {
  nav h1 {
    font-size: 2.1rem; } }

@media only screen and (min-width: 1280px) {
  nav h1 {
    font-size: 32pt; } }

nav a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16pt;
  padding: 0;
  border-bottom: 1px solid #5f5964;
  margin: 30px auto; }
  ul li {
    margin: 20px 0 0 0;
    font-family: "Ledger", serif;
    border-top: 1px solid #5f5964;
    display: block;
    margin: 0 auto;
    padding: 10px;
    color: #5f5964; }
    ul li:hover, ul li:focus {
      color: #a593e0;
      text-decoration: underline;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
  @media only screen and (min-width: 1280px) {
    ul {
      width: 60%; } }

a {
  text-decoration: none; }
  a:hover, a:focus {
    color: #a593e0;
    text-decoration: underline; }

.active {
  text-decoration: underline;
  color: #5f5964; }

.icons {
  align-self: flex-end;
  display: flex;
  justify-content: center; }
  .icons div {
    padding: 10px; }
  .icons #facebook-icon {
    width: 64px;
    height: 64px;
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-position: center; }
    .icons #facebook-icon:hover {
      background-image: url("../img/facebook-hover.png"); }
  .icons #youtube-icon {
    width: 64px;
    height: 64px;
    background-image: url("../img/youtube.png");
    background-repeat: no-repeat;
    background-position: center; }
    .icons #youtube-icon:hover {
      background-image: url("../img/youtube-hover.png"); }

form {
  text-align: center; }

#contact {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column; }

label {
  padding: 5px; }

textarea {
  height: 200px; }

input, textarea {
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: solid 1px #a593e0; }
  input:hover, textarea:hover {
    background-color: #F5F5F5;
    -webkit-transition: background-color 1s;
    transition: background-color 0.5s, border 0.5s;
    border: solid 1px #5f5964; }

#submit-form {
  padding: 10px;
  width: 30%;
  margin-top: 20px;
  background-color: #5f5964;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px; }
  #submit-form:hover {
    background-color: #a593e0;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }
