@import "settings";

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: $main_font;
	color: $color-text;
}

body {
	background: {
		image: url("../img/background.jpg");
		attachment: fixed;
		position: center;
		repeat: no-repeat;
		size: cover;
	}
}

h1 {
	font-family: $logo_font;
	color: $color-text;
	text-align: center;
	margin-top: 70px;
}

h2 {
	font-family: $main_font;
	text-transform: uppercase;
	text-align: center;
	color: $color-text;
	margin: 20px;
}

.nowrap{
	white-space: nowrap;
}

.container {
	box-sizing: border-box;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	position: relative;
	align-items: stretch;
	min-height: 100%;

	@media #{$low768}{
		flex-direction: column;
		justify-content: flex-start;
	}

	@media #{$up769}{
		width: 100%;
	}

	@media #{$up1280}{
		width: 1170px;
		flex-direction: row;
		justify-content: center;
  	}
}

main {
	box-sizing: border-box;
	position: relative;
	padding: 40px;
	background-size: cover;
	background-position: left center;
	z-index: 1;
	width: 100%;
	@media #{$low768}{
		padding: 10px;
		padding-bottom: 80px;
		width: 100%;
	}
	@media #{$up769}{
		@include fadeInFaster;
	}

	p {
		width: 80%;
		text-align: center;
		margin: 5px auto;
		@include fadeInFaster;
		@media #{$low768}{
			width: 100%;
		}
	}

	.main__cover {
	    background-color: rgba(255, 255, 255, 0.9);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: -2;
	}
}

.sidepage {
	background: {
		image: url("../img/background-sub.jpg");
	    attachment: fixed;
	    position: center;
	    repeat: no-repeat;
	    size: cover;
	}
}

.main__aboutus{
	width: 90%;
	margin: 0 auto;
	@media #{$low768}{
		text-align: center;
		width: 100%;
	}

		img {
			float: left;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 4px solid $color-text;
			margin: 50px 20px;
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
			filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
			@media #{$up769WithMax}{
				margin: 10px 20px;
			}
			@media #{$low768}{
				float: inherit;
				max-width: 250px;
				height: auto;
				margin: 30px auto 20px;
			}
		}

		div {
			height: auto;
			overflow: auto;
			@media #{$up769WithMax}{
				overflow: inherit;
			}

			@media #{$low768} {
				width: 100%;
			}


			h3 {
				font-variant: small-caps;
				text-align: left;
				margin: 60px auto 10px;
				@media #{$low768} {
					text-align: center;
					margin: 0;
				}
			}

			p {
				text-align: left;
				width: 90%;
				@media #{$low768} {
					text-align: center;
				}
			}

			.caption {
				font-size: 11pt;
				padding-bottom: 5px;
			}
		}
};

.main__repertoire {
	width: 90%;
	margin: 0 auto;

	@media #{$low768}{
		width: 100%;
	}

	ul {
	  list-style: none;
	  margin-left: 0;
	  padding-left: 0;
	}

	li {
	 padding-left: 1em;
	 padding-top: 1em;
	  text-indent: -1em;
	  @include fadeInFaster;
	
		&:before {
		  content: "♪";
		  padding-right: 7px;
		}
	}
}

.mainpage{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -120px;
	width: 100%;
	@media #{$low768}{
		margin-top: 0;
	}

	h1 {
	    color: $whites;
	    font-size: 72pt;
		text-shadow: 0px 0px 2px #2a262d, 0 0 2em #2a262d, 0 0 0.2em #2a262d;
		text-align: center;
		@include fadeIn;

		@media #{$low545}{
			font-size: 42pt;
		}
	}

	h2 {
		font-family: 'Arial', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.6rem;
		color: $whites;
		font-size: 12pt;
		text-align: center;
		text-shadow: 1px 1px 2px #2a262d;
		margin-top: -10px;
		@media #{$up769}{
			@include stretchText;
		}

		@media #{$low545}{
			font-size: 11pt;
		}

		&::before, &::after {
			content: " - ";

			@media #{$low545}{
				content: none;
			}
		}
	}
}

aside {
	box-sizing: border-box;
	background-color: $color-bg;

	 @media #{$low768}{
		width: 100%;
	}

  	@media #{$up769}{
		width: 25%;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}

	@media #{$up1280}{
		width: 33%;
		display: flex;
		flex-direction: column;
  	}
}

nav {
	h1 {
		&:hover{
			color: $color-link;
			-webkit-transition: color 0.2s; 
			transition: color 0.2s;
		}
		
		@media #{$up769}{
			font-size: 2.1rem;
		}

		@media #{$up1280}{
			font-size: 32pt;
		}
	}

	a:hover {
		text-decoration: none;
	}

	ul {
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16pt; 
	padding: 0;
	border-bottom: 1px solid $color-text;
	margin: 30px auto;

	li {
		margin: 20px 0 0 0;
		font-family: $main_font;
		border-top: 1px solid $color-text;
		display: block;
		margin: 0 auto;
		padding: 10px 0;
		color: $color-text;

		&:hover, &:focus {
			color: $color-link;
			text-decoration: underline;
			-webkit-transition: color 0.2s; 
			transition: color 0.2s;
		} 
	}

	@media #{$up1280}{
		width: 60%;
	}
}
}


a {
	text-decoration: none;

	&:hover, &:focus {
		color: $color-link;		
		text-decoration: underline;
	}
}

.active {
	text-decoration: underline;
	color: $color-text;
}

.icons {
	align-self: flex-end;
	display: flex;
	justify-content: center;

	div{
		padding: 10px;
	}

	#facebook-icon {
		width: 64px;
		height: 64px;
		background-image: url("../img/facebook.png");
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			background-image: url("../img/facebook-hover.png");
		}
	}

	#youtube-icon {
		width: 64px;
		height: 64px;
		background-image: url("../img/youtube.png");
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			background-image: url("../img/youtube-hover.png");
		}
	}
}


//Contact form//

form {
	text-align: center;
}


#contact {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

label {
	padding: 5px;
}

textarea {
	height: 200px;
}

input, textarea {
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: solid 1px $color-link;

	&:hover {
		background-color: #F5F5F5;
		-webkit-transition: background-color 1s; 
		transition: background-color 0.5s, border 0.5s;
		border: solid 1px $color-text;
	}
}

#submit-form {
	padding: 10px;
	width: 30%;
	margin-top: 20px;
	background-color: $color-text;
	color: $whites;
	font-weight: bold;
	border-radius: 5px;

	&:hover {
	background-color: $color-link;
	-webkit-transition: background-color 0.2s; 
	transition: background-color 0.2s;
	}
}

//navbar-xs

.head {
	@media #{$low768}{
		padding: 20px;
		box-sizing: border-box;
		display: flex; 
		justify-content: space-around;
		align-items: flex-start;

		h1 {
			font-size: 26pt;
			margin: 0;
		}
	}	
}

@media #{$low768}{
	.dropdown {
		display: none;
		@include showDropdown;

		ul {
			margin: 0 auto;
		}
	}
}


.navbar-toggle {
	border: 0;
	background: none;

	div {
		width: 35px;
		height: 5px;
		background-color: $color-text;
		margin: 6px 0;
	}

	&:hover div {
		-webkit-transition: background-color 0.2s; 
		transition: background-color 0.2s;
		background-color: $color-link;
	}

	@media #{$up769}{
		display: none;
	}
}